.data-not-found {
    color:#454545;
    font-size: 0.9em;
    font-style: italic;
    display:none;
}
.venue-detail-content ul {
    padding:1em;
}
.venue-detail-content li {
    line-height: 1.5em;
    margin-top: 10px;
}
.venue-detail-content label {
    color:#787878;
    font-size: 0.8em !important;
    font-weight: 400;
    display: block;
}
.venue-detail-content span {
    font-size:1em;
}
.venue-photo{
    width:100%;
}
.venue-checkedin {
    margin-right: 2em;
}
.event_link img,.showing-link img  {
    margin: 10px 0 0 10px;
}